body {
  margin: 0;
}

.cadrs {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.cards_item {
  height: 200px;
  width: 133px;
  background-image: url(../img/playing-cards-back-side-60x90-mm-black-and-white-400-15135550.jpeg);
  transition: transform .5s;
}

.cards_item-active {
  transform: rotateY(180deg);
}

.cards_item-plus {

}

.cards_item-minus {

}

.cards_item-win {

}